/* bg-color */

.bg-transparent {
  background-color: transparent;
}

.bg-gris-transparent {
  background-color: rgba(180, 180, 180, 0.7);
}

.bg-vert-transparent {
  background-color: rgba(44, 157, 71, 0.7);
  border: none;
}

/* global */

/* header */

/* form header */

header input {
  height: 100%;
}

/* caroussel de l'header */

.bg-img-header_un {
  background: url("../img/background1.jpg");
  height: 650px;
  background-size: cover;
}

.bg-img-header_deux {
  background: url("../img/background2.jpg");
  height: 650px;
  background-size: cover;
}
.bg-img-header_trois {
  background: url("../img/background3.jpg");
  height: 650px;
  background-size: cover;
}

/* main */
/* caroussel button des voitures */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

/* footer */

footer {
  height: 200px;
  width: 500px;
}

/* media queries */

@media screen and (max-width: 991px) {
  /* Pour smarthone et tablette */
  /* global */
  .none-md-smt {
    display: none;
  }

  /* caroussel de l'header */

  .bg-img-header_un,
  .bg-img-header_deux,
  .bg-img-header_trois {
    height: 100%;
  }
  /* footer */

  footer {
    width: 100%;
  }
}
